<i class="fa-lg fa-solid fa-volume-low" id="volumeButton"></i>

<div class="volume-controller" id="volumeController">
  <div class="slider-container">
    <label for="bgmvolume">BGM</label>
    <input type="range" name="bgmvolume" id="bgmVolume" min=0.0 max=1.0 value=<%= bgm_volume_value %> step=0.01>
  </div>
  <div class="slider-container">
    <label for="chimevolume">CHIME</label>
    <input type="range" name="chimevolume" id="chimeVolume" min=0.0 max=1.0 value=<%= chime_volume_value %> step=0.01>
  </div>
</div>
