<div class="js-div position-absolute top-50 start-50 translate-middle">
  <span id="jsSectionsData" data-sections=<%= @sections.to_json %>></span>
  <p class="text-center" id="jsClock"></p>
  <p class="text-center" id="jsCurrentsectionName"></p>
  <p class="text-center" id="jsCurrentsectionStartEnd"></p>
</div>

<div class="fixed-bottom">
  <div class="right-bottom">
    <%= render "volume_controller", { bgm_volume_value: @default_bgm_volume_value, chime_volume_value: @default_chime_volume_value} %>
  </div>
</div>

<div class="img">
  <img src="" class="z-n1 position-absolute top-50 start-50 translate-middle" id="backGroundImage">
</div>

<audio id="bgm">
  Your browser does not support the audio tag.
</audio>

<% content_for :css do %>
  <%= stylesheet_link_tag "top" %>
<% end %>
<% content_for :js do %>
  <%= javascript_import_module_tag "top" %>
<% end %>
