<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">概要・使い方</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <br>
          <li>"gakkou"は、日本の学校の空気感、<br>その再現・表現を目的としたアプリです。</li>
          <br>
          <li>基本的に操作は不要です。</li>
          <br>
          <li>定刻になるとチャイムが鳴ります。</li>
          <br>
          <li>学籍登録(後日実装予定)を行うと、<br>表示されるセクション名やチャイムのなる時刻を編集できるようになります。</li>
          <br>
          <p class="text-end" style="font-size:12px; opacity:0.5;">チャイム音提供: OtoLogic(https://otologic.jp)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
