<div class="hamburger-menu">
  <span class="hamburger-menu-btn" id="hamburgerMenuBtn">≡</span>

  <div class="menu-content" id="menuContent">
    <ul>
      <li>
        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#aboutModal">概要・使い方</button>
      </li>
      <li>
        <a href="#">利用規約</a>
      </li>
      <li>
        <a href="#">プライバシーポリシー</a>
      </li>
      <li>
        <a href="#">お問い合わせ</a>
      </li>
    </ul>
  </div>
</div>
