<div class="hamburger-menu">
  <span class="hamburger-menu-btn" id="hamburgerMenuBtn">≡</span>

  <div class="menu-content" id="menuContent">
    <ul>
      <% if request.path != root_path %>
        <li>
          <%= link_to "トップページへ", root_path, data: {turbolinks: false} %>
        </li>
      <% end %>
      <li>
        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#aboutModal">概要・使い方</button>
      </li>
      <li>
        <a href="#">利用規約</a>
      </li>
      <li>
        <a href="#">プライバシーポリシー</a>
      </li>
      <li>
        <%= link_to "お問い合わせ", new_contact_path, data: {turbolinks: false} %>
      </li>
    </ul>
  </div>
</div>
