<br>
<ol>
  <p>当プライバシーポリシーは、ウェブサイトgakkou.com（以下、「本サイト」）上における個人情報の取り扱いについて
    定めたものです。 本サイト上で提供するサービス（以下、「本サービス」）使用を通じて取得した情報は、
    当プライバシーポリシーに準拠し、これを取り扱うものとします。</p>
</ol>
<br>

<h5>取得する個人情報について</h5>
<ol>
  <p>当社は、本サービスを利用する皆さま（以下、「ユーザー」）から以下の情報を取得します。
  <ul>
    <li>ユーザーネーム</li>
    <li>学籍ID(ユーザーID)</li>
    <li>Cookie</li>
    <li>ログファイル</li>
    <li>IPアドレス</li>
    <li>タイムスタンプ</li>
    <li>ユーザーエージェント</li>
  </ul>
</ol>
<br>

<h5>ユーザーの情報を利用する目的</h5>
<ol>
  <p>当社は、ユーザーから取得した情報を、以下の目的のために利用します。</p>
  <ul>
    <li>本サイト上で提供するサービスに関する登録の受付、ユーザーの認証のため</li>
    <li>ユーザーの本サイトの利用履歴を管理するため</li>
    <li>ユーザーからのお問い合わせに対応するため</li>
    <li>当社の規約や法令に違反する行為に対応するため</li>
    <li>以上の他、本サービスの提供、維持、保護及び改善のため</li>
  </ul>
</ol>
<br>

<h5>安全管理のために講じた措置</h5>
<ol>
  <p>当社が、ユーザーから取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただけましたら、法令の定めに従い個別に回答させていただきます。</p>
</ol>
<br>

<h5>第三者提供</h5>
<ol>
  <p>当社は、ユーザーから取得する情報のうち、個人データ（個人情報保護法第16条第3項）に該当するものにつきましては、以下の場合を除き、あらかじめのお客様の同意を得ずに、第三者（日本国外にある者を含む）に提供しません。</p>
  <ul>
    <li>個人データの取り扱いを外部に委託する場合</li>
    <li>当社や本サービスが買収された場合</li>
    <li>事業パートナーと共同利用する場合（ただし、具体的な共同利用がある場合はその内容を別途公表する）</li>
    <li>その他、法律によって合法的に第三者提供が許されている場合</li>
  </ul>
</ol>
<br>

<h5>プライバシーポリシーの変更</h5>
<ol>
  <p>当社は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの試行時期と内容を適切な方法により周知または通知します。</p>
</ol>
<br>

<h5>お問い合わせ先</h5>
<ol>
  <p>ユーザーの情報の開示、情報の訂正、利用停止、削除をご希望の場合は、以下のメールアドレスにご連絡ください。</p>
  <br>
  <p>ahnya0320teya[@]gmail.com&nbsp;([]を外してご利用ください)</p>
</ol>
<br>

<p class="text-end">以上</p>

