@import "bootstrap";

body {
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Consolas;
}

.fixed-top {
  .left-top {
    position: absolute;
    left: 48px;
    top: 40px;

    .hamburger-menu {
      .hamburger-menu-btn {
        display: flex;
        height: 30px;
        width: 30px;
        justify-content: center;
        align-items: center;
        background-color: #c0c0c0;
        border: #c0c0c0;
        border-radius: 4px;
        cursor: pointer;
        color: #fff;
        transition: background-color 0.2s 0s linear;
      }
      .hamburger-menu-btn:hover {
        background-color: #9d9d9d;
      }

      .menu-content {
        position: relative;
        top: 10px;
        left: -400%;
        padding-right: 20px;
        border-radius: 4px;
        background-color: rgba(245,245,245,0.9);
        opacity: 0;
        transition: opacity 0.2s 0s linear;

        li {
          list-style: none;
          line-height: 60px;
          a {
            color: #808080;
            transition: color 0.2s 0s linear;
          }
          a:hover {
            color: #7d8bf0;
          }
          button {
            color: #808080;
            transition: color 0.2s 0s linear;
          }
          button:hover {
            color: #7d8bf0;
          }
        }
      }
    }
  }
}

.js-div {
  opacity: 0.8;
  text-shadow: #dcdcdc 1px 1px 0, #dcdcdc -1px -1px 0, #dcdcdc -1px 1px 0,
    #dcdcdc 1px -1px 0, #dcdcdc 0px 1px 0, #dcdcdc 0 -1px 0,
    #dcdcdc -1px 0 0, #dcdcdc 1px 0 0;

  p {
    line-height: 60px;
  }

  #jsClock {
    font-size: 60px;
  }

  #jsCurrentsectionName {
    font-size: 48px;
  }

  #jsCurrentsectionStartEnd {
    font-size: 16px;
    line-height: 12px;
  }
}

.fixed-bottom {
  .right-bottom {
    position: absolute;
    right: 28px;
    bottom: 30px;
  }
}
